# Include your project-specific ignores in this file
# See https://help.github.com/ignore-files/ for more about ignoring files

# Build outpubt
build
build/

# Dependencies
node_modules/
package-lock.json
*.log
*.gz

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-error.log*

# VS Code
.vscode/*
!.vscode/snippets
!.vscode/launch.json
!.vscode/settings.json

# Misc
.firebase/*
__generated__
.DS_Store
*.env
*.env.example
.env.local
.env.*.local
.eslintcache
.yarn-integrity
.pnp.*
backup.sql
VERSION